<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://github.com/SachinMhetre678/Portfolio/blob/main/images/favicon.jpeg?raw=true" type="image/jpeg">
    <title>Sachin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="max-w-6xl mx-auto lg:px-8 dark:text-darkText">
        <div class="flex flex-col lg:flex-row lg:gap-5 lg:py-4 xl:pb-8">
            <header class="lg:w-1/5">
                     
                <div id="sidebar" class="sticky transition-all duration-300 top-0 z-10 flex flex-col lg:py-8 ">
                    <div class="z-20 fixed shadow-sm sm:shadow-none lg:border-none dark:border-b dark:border-neutral-800 bg-light dark:bg-dark lg:!bg-transparent w-full p-5 lg:relative lg:p-0">
                        <div class="sm:hidden lg:flex items-start justify-between lg:flex-col lg:space-y-4 md:px-2">
                            <div class="overflow-hidden rounded-full ">
                                <img alt="Sachin Mhetre" loading="lazy" width="100" height="100" decoding="async" data-nimg="1" class="hidden lg:flex duration-700 ease-in-out scale-100 blur-0 grayscale-0 rounded-full lg:hover:scale-105 " style="color:transparent" src="https://github.com/SachinMhetre678/Portfolio/blob/main/images/sachin.jpg?raw=true" srcset="https://github.com/SachinMhetre678/Portfolio/blob/main/images/sachin.jpg?raw=true 1x, https://github.com/SachinMhetre678/Portfolio/blob/main/images/sachin.jpg?raw=true 2x">
                            </div>
                            <div class="flex gap-2 items-center mt-1 lg:mt-4">
                                <a href="/">
                                    <h2 class=" text-sm flex-grow text-lg lg:text-xl font-sora font-medium text-white">
                                        Sachin Mhetre
                                    </h2>
                                </a>
                                <div class="relative inline-block">
                                    <div class="tooltip-container relative">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path d="M23 12l-2.44-2.79.34-3.69-3.61-.82-1.89-3.2L12 2.96 8.6 1.5 6.71 4.69 3.1 5.5l.34 3.7L1 12l2.44 2.79-.34 3.7 3.61.82L8.6 22.5l3.4-1.47 3.4 1.46 1.89-3.19 3.61-.82-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81 1.48-1.48 2.32 2.33 5.85-5.87 1.48 1.48-7.33 7.35z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden lg:flex text-sm font-sora text-neutral-600 hover:text-neutral-700 dark:text-neutral-500 dark:hover:text-neutral-400 transition-all duration-300">@Havoc</div>
                        </div>
                        <div class="flex items-center w-full justify-between">
                            <div class="flex items-center gap-2">
                                <div class="h-2 w-2 rounded-full bg-green-400 animate-ping delay-700" style="transform: scale(1.01072) translateZ(0px);"></div>
                            <span class="text-sm  text-neutral-600 dark:text-neutral-400 font-sora font-thin">Software Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menuDiv"class="flex flex-col space-y-4 hidden lg:flex">
                    <a href="/">
                        <div class="flex font-sora items-center gap-2 py-2 px-4 text-neutral-700 dark:text-neutral-400 hover:text-neutral-900 hover:dark:text-neutral-300 rounded-lg group bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:!text-neutral-200 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-neutral-800 duration-150">
                          <div class="group-hover:-rotate-12 transition-all duration-300 -rotate-12">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" class="bg-neutral-800" stroke-linejoin="round" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4 3h16a2 2 0 0 1 2 2v6a10 10 0 0 1-10 10A10 10 0 0 1 2 11V5a2 2 0 0 1 2-2z"></path>
                              <polyline points="8 10 12 14 16 10"></polyline>
                            </svg>
                          </div>
                          <div class="flex-grow ml-0.5 hover:dark:text-neutral-400  bg-neutral-800 text-lg">Home</div>
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-gray-500 bg-neutral-800 animate-pulse" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg>
                        </div>
                      </a>
                    <a href="/about">
                        <div class="flex font-sora items-center gap-2 py-2 px-4 text-neutral-700 dark:text-neutral-400 hover:text-neutral-900 hover:dark:text-neutral-300 rounded-lg group bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:!text-neutral-200 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-neutral-800 duration-150">
                            <div class="group-hover:-rotate-12 transition-all duration-300 -rotate-12">
                                <svg stroke="currentColor" fill="none" class="bg-neutral-800" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                            <div class="flex-grow ml-0.5 hover:dark:text-neutral-400 cursor-pointer bg-neutral-800 text-lg">About</div>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-gray-500 bg-neutral-800 animate-pulse" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                            </svg>
                        </div>
                    </a>
                    <a href="/project">
                        <div class="flex font-sora items-center gap-2 py-2 px-4 text-neutral-700 dark:text-neutral-400 hover:text-neutral-900 hover:dark:text-neutral-300 rounded-lg group bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:!text-neutral-200 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-neutral-800 duration-150">
                            <div class="group-hover:-rotate-12 transition-all duration-300 -rotate-12 ">
                                <svg stroke="currentColor" fill="none" stroke-width="2" class="bg-neutral-800" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
                                    <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                                    <line x1="6" y1="1" x2="6" y2="4"></line>
                                    <line x1="10" y1="1" x2="10" y2="4"></line>
                                    <line x1="14" y1="1" x2="14" y2="4"></line>
                                </svg>
                            </div>
                            <div class="flex-grow ml-0.5 hover:dark:text-neutral-400 cursor-pointer bg-neutral-800 text-lg">Project</div>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-gray-500 bg-neutral-800 animate-pulse" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                            </svg>
                        </div>
                    </a>
                    <a href="/contact">
                        <div class="flex font-sora items-center gap-2 py-2 px-4 text-neutral-700 dark:text-neutral-400 hover:text-neutral-900 hover:dark:text-neutral-300 rounded-lg group bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:!text-neutral-200 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-neutral-800 duration-150">
                            <div class="group-hover:-rotate-12 transition-all duration-300 -rotate-12">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="bg-neutral-800" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.92 2.38A15.72 15.72 0 0 0 17.5 2a8.26 8.26 0 0 0-6 2.06Q9.89 5.67 8.31 7.27c-1.21-.13-4.08-.2-6 1.74a1 1 0 0 0 0 1.41l11.3 11.32a1 1 0 0 0 1.41 0c1.95-2 1.89-4.82 1.77-6l3.21-3.2c3.19-3.19 1.74-9.18 1.68-9.43a1 1 0 0 0-.76-.73zm-2.36 8.75L15 14.67a1 1 0 0 0-.27.9 6.81 6.81 0 0 1-.54 3.94L4.52 9.82a6.67 6.67 0 0 1 4-.5A1 1 0 0 0 9.39 9s1.4-1.45 3.51-3.56A6.61 6.61 0 0 1 17.5 4a14.51 14.51 0 0 1 2.33.2c.24 1.43.62 5.04-1.27 6.93z"></path>
                                    <circle cx="15.73" cy="8.3" r="2"></circle>
                                    <path d="M5 16c-2 1-2 5-2 5a7.81 7.81 0 0 0 5-2z"></path>
                                </svg>
                            </div>
                            <div class="flex-grow ml-0.5 hover:dark:text-neutral-400 cursor-pointer bg-neutral-800 text-lg">Contact</div>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-gray-500 bg-neutral-800 animate-pulse" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="border-t dark:border-neutral-700 border-gray-300 my-4 " data-testid="breakline"></div>
                <div class="sm:hidden flex items-center gap-1 text-sm py-1 px-3 text-neutral-600 dark:text-neutral-600 font-sora">
                    <span>©</span>
                    <span>2024</span>
                    <span>with</span>
                    <span class="text-red-500 animate-pulse">❤</span>
                    <a href="https://github.com/SachinMhetre678" target="_blank" rel="noopener noreferrer">
                        <span class="hover:dark:text-neutral-400 cursor-pointer">Sachin</span>
                    </a>
                </div>
            </header>
            <main class="lg:w-4/5 max-w-[854px] transition-all duration-300">
                <div class="mt-5 mb-10 lg:mt-0 p-8 aos-init aos-animate">
                    <div class="flex gap-2 text-2xl lg:text-3xl font-medium font-sora">
                        <h1 class="text-2xl font-medium font-sora text-white">About</h1>
                        <div class="ml-1 animate-bounce">🙋‍♂️</div>
                    </div>
                    <p class="mb-6 border-b border-dashed border-neutral-600 pt-2 pb-6 text-neutral-600 dark:text-neutral-400">
                        A little story about me – it might not be crucial, but it’s definitely more interesting than nothing!
                    </p>
                    <section class="space-y-4 leading-[1.8] md:leading-loose text-neutral-800 dark:text-neutral-300">
                        <p class=" font-medium">
                            I'm Sachin Mhetre, a passionate individual with a deep interest in technology and entrepreneurship. I thrive on developing innovative solutions that enhance community engagement.
                        </p>

                        <p class="font-medium">
                           In terms of technical skills, I have knowledge in a range of programming languages and modules, including Machine Learning, spring , express , JavaScript, Node.js, and Docker. 
                        </p>

                        <p class="font-medium">
                            Beyond my technical skills, I am passionate about harnessing technology to address real-world challenges. I enjoy brainstorming and implementing unique ideas that can make a tangible 
                            difference in people's lives. My goal is to develop solutions that are not only innovative but also accessible and user-centric. As I continue to explore and refine my interests, I am 
                            excited about the opportunities to collaborate, learn, and grow within the tech community. Thank you for visiting my website, and I look forward to connecting with you.
                        </p>

                        <p class="font-medium">
                            An intriguing non-academic fact about me is that I was the Kho-Kho Captain of the Section at my Intermediate. I can play a wide range of sports not limiting to Skating, Badminton, Football, Swimming, Table Tennis, Basketball etc. I am desent player in Esports.
                            Also, I can play tabla.
                        </p>

                        <p class="font-medium">
                            Looking forward to the possibility of collaboration!
                        </p>
                    </section>
                    <a target="_blank" class="flex gap-2 hover:gap-3 transition-all duration-300 items-center text-neutral-600 dark:text-neutral-400 hover:text-neutral-700 hover:dark:text-neutral-300 mt-6 border border-neutral-400 hover:border-neutral-500 w-fit px-4 py-2.5 rounded-lg dark:border-neutral-600 hover:dark:border-neutral-300 dark:bg-neutral-900" data-umami-event="Download Resume" href="https://drive.google.com/file/d/1PomX8LZafsYWmE4rwuOyFvXvIvDm-TOi/view?usp=sharing">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dark:bg-neutral-900" fill="#e8eaed"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" class="dark:bg-neutral-900"/></svg>
                        <span class="dark:bg-neutral-900">Download Resume</span>
                    </a>  
                    <div class="border-t dark:border-neutral-700 border-gray-300 my-4 my-8" data-testid="breakline"></div>  
                    <div class="space-y-8">
                        <div class="space-y-2">
                            <div class="flex items-center gap-1.5 text-xl font-medium text-neutral-800 dark:text-neutral-300 ">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"/></svg>
                                <h2 class="capitalize">Skills</h2>
                            </div>
                            <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2 text-neutral-600 dark:text-neutral-400">
                                <p class="dark:text-neutral-400">My Professional Skills</p>
                            </div>
                        </div>
                        <div class="flex w-full">
                            <div class="relative flex flex-col gap-y-4 justify-start py-2 w-full overflow-hidden">
                                <div class="flex w-fit animate-looping-tag css-hxfist">
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                       <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-blue-500 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <title></title>
                                        <path d="M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333-.04-.047-.046-.094-.08-.14-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a50.854 50.854 0 00-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a72.892 72.892 0 00-.195 4.41H0c.055-1.966.192-3.81.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095c.242 2.015.384 3.86.428 5.53zm4.017-4.08c-.378 2.045-.876 3.533-1.492 4.46-.482.716-1.01 1.073-1.583 1.073-.153 0-.34-.046-.566-.138v-.494c.11.017.24.026.386.026.268 0 .483-.075.647-.222.197-.18.295-.382.295-.605 0-.155-.077-.47-.23-.944L6.23 14.615h.91l.727 2.36c.164.536.233.91.205 1.123.4-1.064.678-2.227.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5c.09-.076.177-.158.255-.25.433-.506.648-1.258.648-2.253 0-1.83-.718-2.746-2.155-2.746-.704 0-1.254.232-1.65.697-.43.508-.646 1.256-.646 2.245 0 .972.19 1.686.574 2.14.35.41.877.615 1.583.615.264 0 .506-.033.725-.098l1.325.772.36-.622zM15.5 17.588c-.225-.36-.337-.94-.337-1.736 0-1.393.424-2.09 1.27-2.09.443 0 .77.167.977.5.224.362.336.936.336 1.723 0 1.404-.424 2.108-1.27 2.108-.445 0-.77-.167-.978-.5zm-1.658-.425c0 .47-.172.856-.516 1.156-.344.3-.803.45-1.384.45-.543 0-1.064-.172-1.573-.515l.237-.476c.438.22.833.328 1.19.328.332 0 .593-.073.783-.22a.754.754 0 00.3-.615c0-.33-.23-.61-.648-.845-.388-.213-1.163-.657-1.163-.657-.422-.307-.632-.636-.632-1.177 0-.45.157-.81.47-1.085.315-.278.72-.415 1.22-.415.512 0 .98.136 1.4.41l-.213.476a2.726 2.726 0 00-1.064-.23c-.283 0-.502.068-.654.206a.685.685 0 00-.248.524c0 .328.234.61.666.85.393.215 1.187.67 1.187.67.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188-.1.04-.26.04-.274.167.055.053.063.14.11.214.08.134.218.313.346.407.14.11.28.216.427.31.26.16.555.255.81.416.145.094.293.213.44.313.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214-.067-.067-.134-.127-.2-.193a3.223 3.223 0 00-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106.227-.06.435-.047.67-.106.106-.027.213-.06.32-.094v-.06c-.12-.12-.21-.283-.334-.395a8.867 8.867 0 00-1.104-.823c-.21-.134-.476-.22-.697-.334-.08-.04-.214-.06-.26-.127-.12-.146-.19-.34-.275-.514a17.69 17.69 0 01-.547-1.163c-.12-.262-.193-.523-.34-.763-.69-1.137-1.437-1.826-2.586-2.5-.247-.14-.543-.2-.856-.274-.167-.008-.334-.02-.5-.027-.11-.047-.216-.174-.31-.235-.38-.24-1.364-.76-1.644-.072-.18.434.267.862.422 1.082.115.153.26.328.34.5.047.116.06.235.107.356.106.294.207.622.347.897.073.14.153.287.247.413.054.073.146.107.167.227-.094.136-.1.334-.154.5-.24.757-.146 1.693.194 2.25.107.166.362.534.703.393.3-.12.234-.5.32-.835.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555.206.328.566.668.867.895.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.445 3.445 0 01-.35-.4 8.76 8.76 0 01-.747-1.218c-.11-.21-.202-.436-.29-.643-.04-.08-.04-.2-.107-.24-.1.146-.247.273-.32.453-.127.288-.14.642-.188 1.01-.027.007-.014 0-.027.014-.214-.052-.287-.274-.367-.46-.2-.475-.233-1.238-.06-1.785.047-.14.247-.582.167-.716-.042-.127-.174-.2-.247-.303a2.478 2.478 0 01-.24-.427c-.16-.374-.24-.788-.414-1.162-.08-.173-.22-.354-.334-.513-.127-.18-.267-.307-.368-.52-.033-.073-.08-.194-.027-.274.014-.054.042-.075.094-.09.088-.072.335.022.422.062.247.1.455.194.662.334.094.066.195.193.315.226h.14c.214.047.455.014.655.073.355.114.675.28.962.46a5.953 5.953 0 012.085 2.286c.08.154.115.295.188.455.14.33.313.663.455.982.14.315.275.636.476.897.1.14.502.213.682.286.133.06.34.115.46.188.23.14.454.3.67.454.11.076.443.243.463.378z"></path>
                                       </svg>
                                       <span class="dark:bg-neutral-800">MySQL</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-green-400 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Nodejs</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-indigo-500 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"></path>
                                            <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Bootstrap</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-white-400 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M12.504 0c-.155 0-.315.008-.48.021-4.226.333-3.105 4.807-3.17 6.298-.076 1.092-.3 1.953-1.05 3.02-.885 1.051-2.127 2.75-2.716 4.521-.278.832-.41 1.684-.287 2.489a.424.424 0 00-.11.135c-.26.268-.45.6-.663.839-.199.199-.485.267-.797.4-.313.136-.658.269-.864.68-.09.189-.136.394-.132.602 0 .199.027.4.055.536.058.399.116.728.04.97-.249.68-.28 1.145-.106 1.484.174.334.535.47.94.601.81.2 1.91.135 2.774.6.926.466 1.866.67 2.616.47.526-.116.97-.464 1.208-.946.587-.003 1.23-.269 2.26-.334.699-.058 1.574.267 2.577.2.025.134.063.198.114.333l.003.003c.391.778 1.113 1.132 1.884 1.071.771-.06 1.592-.536 2.257-1.306.631-.765 1.683-1.084 2.378-1.503.348-.199.629-.469.649-.853.023-.4-.2-.811-.714-1.376v-.097l-.003-.003c-.17-.2-.25-.535-.338-.926-.085-.401-.182-.786-.492-1.046h-.003c-.059-.054-.123-.067-.188-.135a.357.357 0 00-.19-.064c.431-1.278.264-2.55-.173-3.694-.533-1.41-1.465-2.638-2.175-3.483-.796-1.005-1.576-1.957-1.56-3.368.026-2.152.236-6.133-3.544-6.139zm.529 3.405h.013c.213 0 .396.062.584.198.19.135.33.332.438.533.105.259.158.459.166.724 0-.02.006-.04.006-.06v.105a.086.086 0 01-.004-.021l-.004-.024a1.807 1.807 0 01-.15.706.953.953 0 01-.213.335.71.71 0 00-.088-.042c-.104-.045-.198-.064-.284-.133a1.312 1.312 0 00-.22-.066c.05-.06.146-.133.183-.198.053-.128.082-.264.088-.402v-.02a1.21 1.21 0 00-.061-.4c-.045-.134-.101-.2-.183-.333-.084-.066-.167-.132-.267-.132h-.016c-.093 0-.176.03-.262.132a.8.8 0 00-.205.334 1.18 1.18 0 00-.09.4v.019c.002.089.008.179.02.267-.193-.067-.438-.135-.607-.202a1.635 1.635 0 01-.018-.2v-.02a1.772 1.772 0 01.15-.768c.082-.22.232-.406.43-.533a.985.985 0 01.594-.2zm-2.962.059h.036c.142 0 .27.048.399.135.146.129.264.288.344.465.09.199.14.4.153.667v.004c.007.134.006.2-.002.266v.08c-.03.007-.056.018-.083.024-.152.055-.274.135-.393.2.012-.09.013-.18.003-.267v-.015c-.012-.133-.04-.2-.082-.333a.613.613 0 00-.166-.267.248.248 0 00-.183-.064h-.021c-.071.006-.13.04-.186.132a.552.552 0 00-.12.27.944.944 0 00-.023.33v.015c.012.135.037.2.08.334.046.134.098.2.166.268.01.009.02.018.034.024-.07.057-.117.07-.176.136a.304.304 0 01-.131.068 2.62 2.62 0 01-.275-.402 1.772 1.772 0 01-.155-.667 1.759 1.759 0 01.08-.668 1.43 1.43 0 01.283-.535c.128-.133.26-.2.418-.2zm1.37 1.706c.332 0 .733.065 1.216.399.293.2.523.269 1.052.468h.003c.255.136.405.266.478.399v-.131a.571.571 0 01.016.47c-.123.31-.516.643-1.063.842v.002c-.268.135-.501.333-.775.465-.276.135-.588.292-1.012.267a1.139 1.139 0 01-.448-.067 3.566 3.566 0 01-.322-.198c-.195-.135-.363-.332-.612-.465v-.005h-.005c-.4-.246-.616-.512-.686-.71-.07-.268-.005-.47.193-.6.224-.135.38-.271.483-.336.104-.074.143-.102.176-.131h.002v-.003c.169-.202.436-.47.839-.601.139-.036.294-.065.466-.065zm2.8 2.142c.358 1.417 1.196 3.475 1.735 4.473.286.534.855 1.659 1.102 3.024.156-.005.33.018.513.064.646-1.671-.546-3.467-1.089-3.966-.22-.2-.232-.335-.123-.335.59.534 1.365 1.572 1.646 2.757.13.535.16 1.104.021 1.67.067.028.135.06.205.067 1.032.534 1.413.938 1.23 1.537v-.043c-.06-.003-.12 0-.18 0h-.016c.151-.467-.182-.825-1.065-1.224-.915-.4-1.646-.336-1.77.465-.008.043-.013.066-.018.135-.068.023-.139.053-.209.064-.43.268-.662.669-.793 1.187-.13.533-.17 1.156-.205 1.869v.003c-.02.334-.17.838-.319 1.35-1.5 1.072-3.58 1.538-5.348.334a2.645 2.645 0 00-.402-.533 1.45 1.45 0 00-.275-.333c.182 0 .338-.03.465-.067a.615.615 0 00.314-.334c.108-.267 0-.697-.345-1.163-.345-.467-.931-.995-1.788-1.521-.63-.4-.986-.87-1.15-1.396-.165-.534-.143-1.085-.015-1.645.245-1.07.873-2.11 1.274-2.763.107-.065.037.135-.408.974-.396.751-1.14 2.497-.122 3.854a8.123 8.123 0 01.647-2.876c.564-1.278 1.743-3.504 1.836-5.268.048.036.217.135.289.202.218.133.38.333.59.465.21.201.477.335.876.335.039.003.075.006.11.006.412 0 .73-.134.997-.268.29-.134.52-.334.74-.4h.005c.467-.135.835-.402 1.044-.7zm2.185 8.958c.037.6.343 1.245.882 1.377.588.134 1.434-.333 1.791-.765l.211-.01c.315-.007.577.01.847.268l.003.003c.208.199.305.53.391.876.085.4.154.78.409 1.066.486.527.645.906.636 1.14l.003-.007v.018l-.003-.012c-.015.262-.185.396-.498.595-.63.401-1.746.712-2.457 1.57-.618.737-1.37 1.14-2.036 1.191-.664.053-1.237-.2-1.574-.898l-.005-.003c-.21-.4-.12-1.025.056-1.69.176-.668.428-1.344.463-1.897.037-.714.076-1.335.195-1.814.12-.465.308-.797.641-.984l.045-.022zm-10.814.049h.01c.053 0 .105.005.157.014.376.055.706.333 1.023.752l.91 1.664.003.003c.243.533.754 1.064 1.189 1.637.434.598.77 1.131.729 1.57v.006c-.057.744-.48 1.148-1.125 1.294-.645.135-1.52.002-2.395-.464-.968-.536-2.118-.469-2.857-.602-.369-.066-.61-.2-.723-.4-.11-.2-.113-.602.123-1.23v-.004l.002-.003c.117-.334.03-.752-.027-1.118-.055-.401-.083-.71.043-.94.16-.334.396-.4.69-.533.294-.135.64-.202.915-.47h.002v-.002c.256-.268.445-.601.668-.838.19-.201.38-.336.663-.336zm7.159-9.074c-.435.201-.945.535-1.488.535-.542 0-.97-.267-1.28-.466-.154-.134-.28-.268-.373-.335-.164-.134-.144-.333-.074-.333.109.016.129.134.199.2.096.066.215.2.36.333.292.2.68.467 1.167.467.485 0 1.053-.267 1.398-.466.195-.135.445-.334.648-.467.156-.136.149-.267.279-.267.128.016.034.134-.147.332a8.097 8.097 0 01-.69.468zm-1.082-1.583V5.64c-.006-.02.013-.042.029-.05.074-.043.18-.027.26.004.063 0 .16.067.15.135-.006.049-.085.066-.135.066-.055 0-.092-.043-.141-.068-.052-.018-.146-.008-.163-.065zm-.551 0c-.02.058-.113.049-.166.066-.047.025-.086.068-.14.068-.05 0-.13-.02-.136-.068-.01-.066.088-.133.15-.133.08-.031.184-.047.259-.005.019.009.036.03.03.05v.02h.003z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Linux</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg style="color: red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="text-white-400 dark:bg-neutral-800" height="24" width="24">
                                            <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm52.7 93c8.8-15.2 28.3-20.5 43.5-11.7 15.3 8.8 20.5 28.3 11.7 43.6-8.8 15.2-28.3 20.5-43.5 11.7-15.3-8.9-20.5-28.4-11.7-43.6zM87.4 287.9c-17.6 0-31.9-14.3-31.9-31.9 0-17.6 14.3-31.9 31.9-31.9 17.6 0 31.9 14.3 31.9 31.9 0 17.6-14.3 31.9-31.9 31.9zm28.1 3.1c22.3-17.9 22.4-51.9 0-69.9 8.6-32.8 29.1-60.7 56.5-79.1l23.7 39.6c-51.5 36.3-51.5 112.5 0 148.8L172 370c-27.4-18.3-47.8-46.3-56.5-79zm228.7 131.7c-15.3 8.8-34.7 3.6-43.5-11.7-8.8-15.3-3.6-34.8 11.7-43.6 15.2-8.8 34.7-3.6 43.5 11.7 8.8 15.3 3.6 34.8-11.7 43.6zm.3-69.5c-26.7-10.3-56.1 6.6-60.5 35-5.2 1.4-48.9 14.3-96.7-9.4l22.5-40.3c57 26.5 123.4-11.7 128.9-74.4l46.1.7c-2.3 34.5-17.3 65.5-40.3 88.4zm-5.9-105.3c-5.4-62-71.3-101.2-128.9-74.4l-22.5-40.3c47.9-23.7 91.5-10.8 96.7-9.4 4.4 28.3 33.8 45.3 60.5 35 23.1 22.9 38 53.9 40.2 88.5l-46 .6z" fill="red"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">ubuntu</span>
                                    </div>
                                </div>
                                <div class="flex w-fit animate-looping-tag css-r4g5pp">
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-sky-400 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M20.229 15.793a.666.666 0 0 0 .244-.243.666.666 0 0 0 .09-.333l.012-3.858a.666.666 0 0 1 .09-.333.666.666 0 0 1 .245-.243L23 9.58a.667.667 0 0 1 .333-.088.667.667 0 0 1 .333.09.667.667 0 0 1 .244.243.666.666 0 0 1 .089.333v7.014a.667.667 0 0 1-.335.578l-7.893 4.534a.666.666 0 0 1-.662 0l-6.194-3.542a.667.667 0 0 1-.246-.244.667.667 0 0 1-.09-.335v-3.537c0-.004.004-.006.008-.004s.008 0 .008-.005v-.004c0-.003.002-.005.004-.007l5.102-2.93c.004-.003.002-.01-.003-.01a.005.005 0 0 1-.004-.002.005.005 0 0 1-.001-.004l.01-3.467a.667.667 0 0 0-.333-.58.667.667 0 0 0-.667 0L8.912 9.799a.667.667 0 0 1-.665 0l-3.804-2.19a.667.667 0 0 0-.999.577v6.267a.667.667 0 0 1-.332.577.666.666 0 0 1-.332.09.667.667 0 0 1-.333-.088L.336 13.825a.667.667 0 0 1-.246-.244.667.667 0 0 1-.09-.336L.019 2.292a.667.667 0 0 1 .998-.577l7.23 4.153a.667.667 0 0 0 .665 0l7.228-4.153a.666.666 0 0 1 .333-.088.666.666 0 0 1 .333.09.667.667 0 0 1 .244.244.667.667 0 0 1 .088.333V13.25c0 .117-.03.232-.089.334a.667.667 0 0 1-.245.244l-3.785 2.18a.667.667 0 0 0-.245.245.666.666 0 0 0-.089.334.667.667 0 0 0 .09.334.666.666 0 0 0 .247.244l2.088 1.189a.67.67 0 0 0 .33.087.667.667 0 0 0 .332-.089l4.457-2.56Zm.438-9.828a.666.666 0 0 0 .09.335.666.666 0 0 0 .248.244.667.667 0 0 0 .67-.008l2.001-1.2a.666.666 0 0 0 .237-.243.667.667 0 0 0 .087-.329V2.32a.667.667 0 0 0-.091-.335.667.667 0 0 0-.584-.33.667.667 0 0 0-.334.094l-2 1.2a.666.666 0 0 0-.238.243.668.668 0 0 0-.086.329v2.445Z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Material UI</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="text-white-400 dark:bg-neutral-800">
                                            <path fill="currentColor" d="M7.172 20.36c-.914-.72-1.89-1.41-2.556-2.38c-1.402-1.712-2.482-3.694-3.22-5.777c-.446-1.355-.6-2.808-1.174-4.11c-.602-.944.103-1.978 1.138-2.28c.46-.087 1.272-.522.293-.211c-.878.644-.963-.585-.063-.662c.615-.082.84-.585.63-1.037c-.66-.43 1.6-.903.463-1.544C1.5 1.08 4.34.835 3.64 2.285C3.473 3.4 5.624 2.08 5.125 3.368c.507.619 1.9.14 1.865 1.009c.74.05.993.672 1.687.72c.72.325 2.022.58 2.266 1.39c-.713.566-2.364-1.165-2.443.398c.215 2.31.16 4.689 1.004 6.888c.4 1.332 1.37 2.38 2.244 3.418c.837 1.016 1.971 1.73 3.127 2.333c1.014.478 2.107.795 3.213.994c.448-.343 1.24-1.617 1.938-1.08c.033.604-1.388 1.263-.067 1.196c.776-.234 1.314.6 1.953-.152c.588.697 2.446-.446 2.027.98c-.566.364-1.392.144-1.959.646c-.935-.467-1.68.418-2.715.306a19.86 19.86 0 0 1-3.484.29c-1.912-.15-3.865-.214-5.684-.88c-1.024-.297-2.023-.881-2.924-1.464zm1.615.7c1 .432 1.978.888 3.074 1.026c1.74.24 3.537.614 5.283.274c-.79-.357-1.608.14-2.395-.255c-.944.203-1.957-.052-2.917-.177c-1.092-.486-2.27-.82-3.291-1.452c-1.277-.466.66.598 1.005.685c.798.453-.877-.233-1.114-.421c-.668-.375-.754-.297-.066.084c.139.08.276.166.42.235zm-1.904-1.346c.97.359-.004-.682-.45-.622c-.196-.341-.751-.557-.36-.74c-.704.244-.737-.93-1.07-.763c-.744-.235-.29-1.07-1.176-1.58c-.081-.54-.882-1.008-1.138-1.822c-.113-.416-.905-1.613-.418-.5c.414 1.072 1.143 1.99 1.75 2.907c.47.873 1.027 1.786 1.885 2.33c.29.278.568.703.977.79zM4.09 16.647c.033-.146.177.317 0 0zm3.954 3.497c.215-.096-.31-.12 0 0zm.526.192c-.054-.265-.24.148 0 0zm.66.275c.312-.3-.484-.188 0 0zm1.127.63c.191-.282-.61-.107 0 0zM8.19 19.728c.487-.315-.63-.004 0 0zm.494.246c-.014-.166-.176.075 0 0zm2.47 1.542c.397.25 2.32.55 1.115.103c-.2.042-2.23-.574-1.116-.103zm-3.921-3.054c-.04-.167-.616-.185 0 0zm1.15.67c.3-.21-.621-.16 0 0zm.966.593c.43-.162-.696-.163 0 0zm-2.584-1.773c.466.358 1.88.046.714-.213c-.53-.283-1.727-.476-.912.17zm3.24 1.978c.193-.33-.815-.19 0 0zm-.984-.783c1.14.323-.958-.72-.281-.118l.15.068l.13.05zm1.973 1.14c1.08.01-.975-.147 0 0zm-4.644-2.96c-.042-.2-.266.018 0 0zm6.47 3.985c.028-.363-.353.27 0 0zm-4.63-2.856c-.064-.191-.336-.008 0 0zm-1.738-1.254c.62-.037-.848-.273 0 0zm-2.06-1.332c-.077-.297-.674-.534 0 0zm5.407 3.435c-.114-.13-.054.028 0 0zm3.366 2.065c-.01-.197-.183.075 0 0zm-3.664-2.373c.06-.255-.528-.077 0 0zm-2.506-1.592c.46-.05-.74-.311 0 0zm4.241 2.637c.718-.285-.7-.14 0 0zM9.03 18.545c.827.106-.985-.563-.181-.06zm2.876 1.768c.773-.462.518 1.082 1.311.13c.782-.57-.675.707.29.103c.696-.467 1.726.22 2.376.445c.468-.023.923.405 1.403.145c.923-.25-1.806-.37-1.09-.81c-.845.245-1.47-.294-1.885-.835c-.948-.22-2.044-.703-2.517-1.542c-.192-.315.28.044-.166-.47c-.57-.508-.856-1.085-1.24-1.702c-.457-.244-.51-.963-.557-.024c.004-.593-.553-.992-.688-.826c-.002-.571.595-.285.176-.707c-.09-.592-.386-1.21-.475-1.877c-.138-.322-.02-1.011-.473-.282c-.165.77-.055-.947.202-.38c.337-.58-.12-.51-.14-.43c.22-.488.14-1.18-.057-.916c.117-.517.185-1.902-.175-1.656c.218-.54.414-2.473-.534-1.736c-.384.005-1.048.14-1.363.296c.986.543-.1.196-.5.11c-.052.502-.45.285-.946.29c.793.098-.386.81-.841.534c-.59.282.51.987.012 1.205c.06.328-.905-.12-.83.64c-.573-.241-.078.9.209.514c.975.264.686.866.71 1.437c-.158.333-.784-.783-.14-.731c-.507-.827-.561-.3-.984.085c-.1.028 1.079.547.34.803c.65.1.668.67.8 1.03c.39.407.31-.45.779.04c-.296-.436-1.567-1.228-.544-.974c-.005-.44-.185-.793.129-.784c.31-.562-.325 1.387.375.672c.193-.085.24-.563.59.045c.505.498.182.858-.531.403c.127.433.954.587.799 1.265c.165.595.395.376.596.342c.158.578.247.153.255-.123c.72.155.552.58.778.88c.497.224-.712-1.522.142-.526c.898.81.337 1.15-.47 1.02c.51-.041.675.69 1.313.664c.582.277.975 1.34-.027.897c-.348-.313-1.58-.7-.573-.104c.929.43 1.665.688 2.561 1.227c.64.458.918.982 1.16 1.086c-.538.257-1.623-.206-.817-.348c-.503-.091-1.068-.345-.587.28c.41.343 1.45.306 1.637.345c-.159.348-.43.376.006.403c-.486.26.156.3.201.448zm-.994-2.808c-.296-.31-.373-.89-.053-.385c.164.066.525.947.053.385zm3.238 2.057c.185-.011.006.14 0 0zm-3.706-2.816c-.01-.468.107.36 0 0zm-.322-.433c-.372-.72.47.204 0 0zm-3.9-2.692c.219-.06.108.374 0 0zm3.104 1.682c.134-.504.158.424 0 0zm-2.192-1.525c-.155-.278.323.26 0 0zm1.882.604c-.352-.79.25-.432.078.13zM5.77 12.217c-.158-.26-.418-1.02-.334-1.252c.076.378.804 1.627.357.518c-.494-.93.59.302.702.534c.05.23-.305-.063-.064.478c-.44-.617-.26.34-.661-.278zm-1.003-.691c.04-.603.23.413 0 0zm.45.155c.216-.455.366.634 0 0zm-1.084-.84c-.374-.37-.644-.713.017-.23c.255.01-.566-.778.06-.25c.66.12.327 1.082-.077.48zm.57-.015c.217-.215.115.212 0 0zm.35.113c-.328-.617.4.258 0 0zm-.697-.667c-1.086-.966 1.365.506.177.18zm3.11 1.808c-.47-.282-.123-1.984.037-.82c.457-.148-.025.6.315.594c-.053.473-.206.643-.35.226zm1.15.68c.048-.513.099.35 0 0zm-.2-.198c.054-.22.007.258 0 0zM4.57 9.955c-.697-.963 2.027.973.447.244c-.165-.043-.364-.06-.447-.244zm2.216 1.175c-.066-.81.147.134 0 0zm1.682 1.079c.13-.462.01.305 0 0zM4.676 9.587c.415-.088 1.718.729.52.234c-.132-.148-.416-.08-.52-.234zm3.56 1.775c.044-.83.248-.495.002.118zM4.985 9.299c.169-.248-.45-1.12.089-.313c.232.185.672.31.283.387c.61.539-.15.146-.372-.074zm3.075 1.804c.117-.944.103.553 0 0zM4.632 8.427c.129-.055.068.172 0 0zm.802.478c.206-.434.38.483 0 0zm2.263 1.259c-.002-.167.043.242 0 0zm-.131-.29c-.314-.776.292.41 0 0zm-.193-.51c-.053-.32.18.404 0 0zm.314-.51c-.216-.38.272-1.673.326-.87c-.227.625-.065.975.093.136c.293-.66-.063 1.303-.42.735zm.322-1.923c.094-.115.02.139 0 0zM7.47 17.544c-.128-.111.016.07 0 0zm1.11.56c.615.16.612-.095.055-.17c-.3-.28-1.246-.575-.4-.035c.057.142.235.139.344.206zM6.389 16.65c.34.253 1.28.719.484.096c.269-.312-.514-.478-.254-.686c-.66-.404-.52-.368-.058-.356c-.794-.354.114-.328.07-.51c-.305-.06-1.52-.54-.804.04c-.726-.37-.173.138-.392.084c-.743-.202.66.565-.118.375c.425.337 1.146.864.18.357c-.128.183.69.46.892.6zm1.16.667c1.41.454-.691-.556 0 0zm5.94 3.598c.02-.28-.193.24 0 0zm.611.257c.325-.315.013.503.54-.077c.005-.415-.017-.66-.606-.156c-.162.09-.234.473.066.233zm-9.692-6.087c-.1-.393-.7-.39 0 0zm.652.428c-.242-.402-.864-.364 0 0zm3.71 2.237c.362.32 1.662.236.44.04c-.182-.27-1.151-.204-.44-.04zm5.097 3.149c.558-.468-.54.208 0 0zm1.16.796c.003-.15-.24.066 0 0zm.001-.21c.617-.654-.598.039 0 0zM2.805 13.743c-.526-.75-.327-1.088-.835-1.7c-.096-.47-.87-1.533-.4-.406c.43.659.558 1.679 1.235 2.106zm12.03 7.534c1.135-.734-.466-.32 0 0zm.866.34c.57-.488-.36-.102 0 0zM4.215 14.255c.163-.242-.42-.031 0 0zm11.305 7.129c.551-.355-.126-.3-.1.032zm-7.47-4.71c-.02-.24-.291.02 0 0zm.46.267c-.145-.297-.224.047 0 0zm7.894 4.684c.705-.51-.428-.098-.148.096zm-.27-.13c.574-.482-.607.213 0 0zm1.38.918c.386-.258-.469-.083 0 0zM4.57 14.08c.517.116 2.066 1.274 1.152.08c-.468-.138-.187-1.283-.665-1.08c.32.535.264.763-.41.426c-.845-.413-.474.204-.31.374c-.224.052.299.196.233.2zm-2.356-1.86c.092-.383-.853-2.107-.446-.864c.146.26.13.754.446.864zm4.324 2.666c-.266-.223-.013-.032 0 0zm.656.152c0-.405-.725-.164 0 0zm5.681 3.583c-.108-.278-.428-.006 0 0zm.273.199c-.04-.155-.157.03 0 0zm2.252 1.42c.216-.16-.27-.02 0 0zM3.39 12.52c.62-.24-.664-.17 0 0zm8.984 5.662c-.007-.401-.395.1 0 0zm-9.23-6.231c.399-.135-.367-.09 0 0zm1.156.56c-.007-.133-.122.05 0 0zm14.09 8.64c.512-.104 1.678.26 1.866-.136c-.62-.015-2.15-.438-2.222.1l.136.023l.22.013zM4.667 12.603c.009-.407-.317-.015 0 0zM1.63 10.495c-.138-.775-.525-.118 0 0zm.724.182c.009-.25-.663-.224 0 0zm.414.203c-.12-.097-.094.122 0 0zm2.605 1.67c.122-.112-.29-.083 0 0zm-2.88-2.128c-.07-.585-.84-.088 0 0zm-1.486-.964c-.02-.27-.144.102 0 0zm.22-.167c-.035-.32-.19.04 0 0zm1.22.729c.518-.203-.94-.42-.104-.04zm16.334 10.089c.33-.303-.42-.094 0 0zm1.974 1.023c.132-.392-.334.05 0 0zM2.573 9.38c.055-.38-.41.075 0 0zM.837 8.218c-.093-.535-.08-1.474.812-1.156c-1.191.236.824 1.48.57.498c.5.024.98-.296.716.19c.987-.11 1.67-.964 2.624-.845c.742-.098 1.554-.172 2.354-.471c.658-.048 1.29-.756.93-1.175c-.896-.076-1.835.036-2.827.233c-1.098.228-2.096.662-3.205.849c-1.08.145.217.4-.092.456c-.564.196.672.328-.073.534c-.46-.088-.94-.246-.743-.73c-1.035.133-1.945.563-1.127 1.616h.06zm2.494-1.27c.243-.894 1.3.735.398.118c-.108-.08-.285-.146-.398-.12zm.047-.434c.35-.26.186.146 0 0zm.445.008c.032-.411 1.018.218.163.148zm.608-.245c.222-.26.064.23 0 0zm.156-.104c.37-.444 2.095-.283.832-.043c-.338-.255-.598.15-.832.043zm2.25-.347c-.055-1.214 1.119.432 0 0zm.64-.004c.233-.612.906-.245.108-.123c.017.065-.024.316-.108.123zM2.322 9.067c.697-.427-.741-.37 0 0zm.515.144c.245-.26-.531-.106 0 0zm-1.52-1.08c.399-.305-.471-.116 0 0zm20.602 12.89c.012-.355-.304.16 0 0zm-2.093-1.43c.06-.408-.27.037 0 0zm2.67 1.568c.557 0 1.688-.173.475-.173c-.19.03-1.109.024-.476.173zM3.29 8.959c.45-.03.706-.497-.087-.47c-1.23-.127 1.084.42-.158.264c-.167.11.236.237.245.207zm.398.202c-.048-.29-.14.154 0 0zm.47-1.257c.197-.243-.27-.065 0 0zm-1.5-2.508c.806-.274 1.907-.581 2.287.135c-.387-.466-.156-.924.21-.243c.516.689.775-.313.438-.545c.383.476.819.7.257.03c.61-.734-1.223.097-1.64.088c-.2.09-2.071.477-1.551.535zm.472-.903c.46-.347 1.588.206.864-.345c-.07-.062-1.586.418-.864.345zm1.674.069c.538.013-.231-.722.409-.39c-.105-.343-.746-.407-1.06-.544c-.176.314.36.938.65.934zm-1.38-1.52c.186-.252-.326.128 0 0zm.684.164c.866-.115-.22-.373-.174-.01zm-1.277-1c-.61-.796 1.146.134.527-.7c-.522-.415-1.023.468-.527.7zm7.824 4.215c.28-.496-1.155-.668-.188-.175c.09.03.07.21.188.175z"/>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Flask</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" class="text-red-600 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2 24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3 70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7-18.3-7.9 16-19 26.8-21.3 11.2-2.4 17.7-2 17.7-2-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4zM124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6 0-.1 11.8 9.7 72.4 13.6 92.2 5.9 233.8-3.3 237.1-46.9 0 0-6.4 16.5-76.2 29.7zM260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6-33.5-3.5-11.6-19.7-11.6-19.7-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Java</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-yellow-300" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">JavaScript</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="text-indigo-500 dark:bg-neutral-800" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <title></title>
                                            <path d="M1.5 0h21l-1.91 21.563L11.977 24l-8.565-2.438L1.5 0zm17.09 4.413L5.41 4.41l.213 2.622 10.125.002-.255 2.716h-6.64l.24 2.573h6.182l-.366 3.523-2.91.804-2.956-.81-.188-2.11h-2.61l.29 3.855L12 19.288l5.373-1.53L18.59 4.414z"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">CSS</span>
                                    </div>
                                    
                                </div>
                                <div class="flex w-fit animate-looping-tag css-hxfist">
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"  class="text-red-600 dark:bg-neutral-800">
                                            <title></title>
                                            <path d="M64,32,98.94,435.21,255.77,480,413,435.15,448,32ZM372,164H188l4,51H368L354.49,366.39,256,394.48l-98.68-28L150.54,289H198.8l3.42,39.29L256,343.07l53.42-14.92L315,264H148L135.41,114.41l240.79,0Z" fill="red"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">HTML</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-git dark:bg-neutral-800" viewBox="0 0 16 16">
                                            <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457" fill="red"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Git</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg style="color: green;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-green-600 dark:bg-neutral-800">
                                            <title></title>
                                            <path d="M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115-.28-.394-.53-.954-.735-1.44-.036.495-.055.685-.523 1.184-.723.566-4.438 3.682-4.74 10.02-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0111.91 24h.481c.114-1.032.284-2.056.51-3.07.417-.296.604-.463.85-.693a11.342 11.342 0 003.639-8.464c.01-.814-.103-1.662-.197-2.218zm-5.336 8.195s0-8.291.275-8.29c.213 0 .49 10.695.49 10.695-.381-.045-.765-1.76-.765-2.405z" fill="#41f335"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Mongodb</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg style="color: rgb(53, 243, 91);" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-green-600">
                                            <title></title>
                                            <path d="M22.33 7.851l-.716-.398c1.101-1.569 1.758-3.927.934-7.453 0 0-1.857 5.029-5.59 4.863l-4.37-2.431a1.171 1.171 0 0 0-.536-.15h-.101a1.183 1.183 0 0 0-.538.15L7.042 4.863C3.309 5.03 1.452 0 1.452 0c-.825 3.526-.166 5.884.934 7.453l-.716.398a1.133 1.133 0 0 0-.589.988l.022 14.591c0 .203.109.392.294.491a.58.58 0 0 0 .584 0l5.79-3.204c.366-.211.589-.582.589-.987v-6.817c0-.406.223-.783.588-.984l2.465-1.372a1.19 1.19 0 0 1 .59-.154c.2 0 .407.05.585.154l2.465 1.372c.365.201.588.578.588.984v6.817c0 .405.226.779.59.987l5.788 3.204a.59.59 0 0 0 .589 0 .564.564 0 0 0 .292-.491l.019-14.591a1.129 1.129 0 0 0-.589-.988z" fill="#35f35b"></path>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Nodemon</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-black-600 dark:bg-neutral-800">
                                            <title></title>
                                            <path d="M16.922 0h2.623v18.104h-2.623zm-4.126 12.94h2.623v2.57h-2.623zm0-7.037h2.623v5.446h-2.623zm0 11.197h2.623v5.446h-2.623zM4.456 5.896h2.622V24H4.455zm4.213 2.559h2.623v2.57H8.67zm0 4.151h2.623v5.447H8.67zm0-11.187h2.623v5.446H8.67Z"/>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Pandas</span>
                                    </div>
                                </div>
                                <div class="flex w-fit animate-looping-tag css-hxfist">
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" class="text-black-600 dark:bg-neutral-800">
                                            <title></title>
                                            <path d="M0 0 C1.23679504 0.00149048 2.47359009 0.00298096 3.74786377 0.0045166 C21.48024573 0.04298351 38.98684067 0.25464678 56.5 3.3125 C57.81339355 3.53728027 57.81339355 3.53728027 59.15332031 3.76660156 C81.58923638 7.77696834 100.94075574 17.43087443 114.48828125 36.15625 C121.81700327 47.65451679 123.80192069 59.05542027 123.7746582 72.42285156 C123.7823246 74.37078865 123.7823246 74.37078865 123.79014587 76.358078 C123.80347139 79.90171438 123.80412155 83.44524366 123.80158257 86.98890018 C123.80050801 89.95814636 123.80540883 92.92737129 123.810188 95.89661288 C123.82126189 102.90944447 123.82173319 109.9222225 123.81567383 116.93505859 C123.80964162 124.14231947 123.82193067 131.34938474 123.8432439 138.55661225 C123.86092784 144.76753798 123.86685042 150.97840185 123.86360615 157.1893518 C123.86180321 160.88855929 123.86432923 164.58762739 123.87832069 168.28681183 C123.89336828 172.4195246 123.88386991 176.55184623 123.87231445 180.68457031 C123.87995819 181.89120834 123.88760193 183.09784637 123.89547729 184.34104919 C123.78984626 201.5214487 117.81919525 217.74584063 105.91992188 230.27929688 C95.61533932 240.41518231 81.38302481 247.41269759 66.80534363 247.45053101 C65.10060883 247.45871101 65.10060883 247.45871101 63.36143494 247.46705627 C61.50452782 247.46861977 61.50452782 247.46861977 59.61010742 247.47021484 C57.59705765 247.47801473 55.5840079 247.48581863 53.57095873 247.49377275 C51.41015796 247.50147604 49.24936139 247.50686514 47.08855247 247.51173019 C42.56805465 247.52245624 38.04763048 247.54271733 33.5271759 247.56484985 C20.67318131 247.62660632 7.81919017 247.68061612 -5.03491211 247.71386719 C-12.13681952 247.73231859 -19.23860404 247.76139009 -26.3404209 247.8018719 C-30.09007942 247.82277819 -33.83958414 247.83837547 -37.58930397 247.84067917 C-65.84873653 247.69773538 -65.84873653 247.69773538 -92.5 256.3125 C-93.48484375 256.80492187 -94.4696875 257.29734375 -95.484375 257.8046875 C-113.05727372 267.31954717 -125.3763035 282.60581352 -131.56719971 301.58399963 C-134.23205555 310.84937649 -135.10358162 319.58048173 -135.109375 329.21484375 C-135.12440795 330.67315965 -135.14114549 332.13145887 -135.15948486 333.58973694 C-135.20259855 337.37235426 -135.2230306 341.15474235 -135.23822021 344.93756104 C-135.2579969 348.81983698 -135.29994127 352.70187237 -135.33984375 356.58398438 C-135.41453668 364.16009065 -135.46519314 371.73609409 -135.5 379.3125 C-142.47008481 379.41510389 -149.43997037 379.48446259 -156.41064453 379.53222656 C-158.77497637 379.55216787 -161.13926002 379.57933088 -163.50341797 379.61425781 C-185.5627926 379.93165889 -204.41293135 378.55204087 -221.34375 362.6640625 C-242.22884223 339.88720467 -248.45614653 306.11394908 -251.5 276.3125 C-251.66628906 274.74628906 -251.66628906 274.74628906 -251.8359375 273.1484375 C-255.52938458 232.91981119 -249.83315014 184.81767597 -223.5703125 152.97265625 C-210.44516205 138.74904901 -190.41229892 130.96990381 -171.33024788 130.04407692 C-166.76691848 129.91114776 -162.20547411 129.94021458 -157.64086914 129.97192383 C-155.90468867 129.97277232 -154.16850712 129.97229063 -152.43232727 129.97059631 C-147.7679781 129.9697436 -143.10386539 129.98725052 -138.43957067 130.00831819 C-133.54692012 130.02720723 -128.6542628 130.02884498 -123.76158142 130.03239441 C-114.51846182 130.04167923 -105.27545002 130.06624425 -96.03237766 130.09644288 C-85.50020191 130.13009848 -74.96802072 130.14650083 -64.43580449 130.16152918 C-42.79047477 130.19279739 -21.14524802 130.24609968 0.5 130.3125 C0.5 125.6925 0.5 121.0725 0.5 116.3125 C-39.76 116.3125 -80.02 116.3125 -121.5 116.3125 C-121.5 38.50489374 -121.5 38.50489374 -108.5 24.3125 C-94.97580554 11.6218046 -76.91915826 7.28746736 -59.1875 4.125 C-58.32471436 3.97015137 -57.46192871 3.81530273 -56.57299805 3.65576172 C-37.75491355 0.51228818 -19.04757989 -0.0566239 0 0 Z M-85.5 47.3125 C-90.31453376 53.55838163 -90.42703808 59.59036839 -89.5 67.3125 C-87.79954618 73.51060385 -83.82408417 77.83690243 -78.5 81.3125 C-72.47364487 84.22590348 -65.59109967 84.44929475 -59.15234375 82.66015625 C-53.34133886 80.05136215 -49.12092244 75.66536696 -46.359375 69.953125 C-44.40627648 63.95178591 -44.43255446 56.81651379 -47 51 C-50.06903076 45.76844934 -54.7388075 41.98374809 -59.875 38.875 C-70.32447818 36.63582611 -78.5663112 39.03059393 -85.5 47.3125 Z " fill="#3D79AA" transform="translate(254.5,-0.3125)"/>
                                            <path d="M0 0 C7.61305236 -0.07656573 15.22600404 -0.128815 22.83935547 -0.16479492 C25.4250052 -0.17980712 28.01062978 -0.20022313 30.59619141 -0.22631836 C34.32981604 -0.26303545 38.06310166 -0.27980274 41.796875 -0.29296875 C42.93799744 -0.30845261 44.07911987 -0.32393646 45.25482178 -0.33988953 C60.53396424 -0.34303626 74.78563318 4.1127821 85.984375 14.828125 C107.8101168 38.34578476 114.03815024 76.34293175 117 107 C117.16435547 108.55654297 117.16435547 108.55654297 117.33203125 110.14453125 C121.01671521 149.98824718 113.30218425 198.5724254 87.875 230.68359375 C79.2816876 240.72404383 69.15796582 246.86319489 56 249 C53.36055478 249.08987224 50.74851299 249.13074813 48.10966492 249.12025452 C47.32135074 249.12110894 46.53303656 249.12196337 45.72083408 249.12284368 C43.08299051 249.12448899 40.44521074 249.11899265 37.80737305 249.11352539 C35.91503399 249.11324329 34.02269483 249.1134017 32.13035583 249.1139679 C26.9944425 249.11425497 21.85855248 249.10837272 16.72264457 249.10139394 C11.35479586 249.09514548 5.98694663 249.09455542 0.61909485 249.09336853 C-9.54512641 249.09025963 -19.70933693 249.08205216 -29.87355345 249.07201904 C-41.44539458 249.06084424 -53.01723623 249.055344 -64.58908141 249.05032361 C-88.3927271 249.03986919 -112.19636249 249.02207698 -136 249 C-136 253.95 -136 258.9 -136 264 C-95.74 264 -55.48 264 -14 264 C-14 333.15353261 -14 333.15353261 -30.2734375 350.48828125 C-54.27967063 372.60290575 -93.71758716 381.91012749 -125.43359375 382.23828125 C-126.22033478 382.2480751 -127.00707581 382.25786896 -127.81765747 382.26795959 C-166.79483932 382.65282185 -212.96118558 377.86896791 -242.67993164 349.58569336 C-252.55774984 339.68280058 -259.08291158 326.67746816 -259.14717102 312.53312683 C-259.15432632 311.44712189 -259.16148163 310.36111694 -259.16885376 309.24220276 C-259.17154266 308.06036911 -259.17423157 306.87853546 -259.17700195 305.66088867 C-259.18357315 304.40814148 -259.19014435 303.15539429 -259.19691467 301.86468506 C-259.21663386 297.71577716 -259.22831833 293.56690793 -259.23828125 289.41796875 C-259.24233245 287.98290806 -259.24644948 286.54784756 -259.25063133 285.11278725 C-259.26967777 278.36168848 -259.28390429 271.61060054 -259.2922433 264.85948008 C-259.30198362 257.10442116 -259.32822088 249.3496501 -259.36874419 241.59469241 C-259.39908667 235.57825317 -259.41372959 229.56189552 -259.41702431 223.54538137 C-259.4193562 219.9632975 -259.42806816 216.38152123 -259.45348549 212.79952049 C-259.61371651 188.96309157 -258.47667279 168.35358673 -241.25952148 150.11206055 C-229.07621149 137.78783116 -214.56871645 131.82382915 -197.35264587 131.72102356 C-196.12751785 131.72357651 -194.90238983 131.72612946 -193.64013672 131.72875977 C-191.62383679 131.72073615 -189.60753687 131.71271015 -187.59123731 131.70459449 C-185.43916978 131.69777044 -183.28714474 131.69574146 -181.13506699 131.69503975 C-176.62709657 131.69308443 -172.11927689 131.67494981 -167.61135864 131.65428162 C-156.41207025 131.60528438 -145.21274107 131.57429612 -134.0133667 131.55297852 C-125.30977516 131.53638465 -116.60631393 131.51336849 -107.90280926 131.46995777 C-103.43694398 131.44838164 -98.97132748 131.44010464 -94.50541377 131.44235051 C-91.70652837 131.44066361 -88.90780045 131.42649331 -86.10897255 131.40913773 C-84.22617351 131.40102244 -82.34332864 131.40740026 -80.46052551 131.414505 C-58.07304221 131.22836282 -38.72719472 123.79251777 -22.30859375 108.3984375 C-6.68880558 92.17077263 -0.40387686 72.13543226 -0.390625 50.09765625 C-0.37559205 48.63934035 -0.35885451 47.18104113 -0.34051514 45.72276306 C-0.29740145 41.94014574 -0.2769694 38.15775765 -0.26177979 34.37493896 C-0.2420031 30.49266302 -0.20005873 26.61062763 -0.16015625 22.72851562 C-0.08546332 15.15240935 -0.03480686 7.57640591 0 0 Z M-85.6953125 304.07421875 C-89.70054018 310.26515639 -90.73275415 315.68307809 -90 323 C-87.91809625 331.18174915 -82.69034371 336.16110776 -75.625 340.4375 C-68.08388603 342.05345299 -62.04650445 341.39145059 -55.265625 337.6171875 C-50.46494336 334.19049405 -47.8455518 329.98520858 -45.5625 324.625 C-44.40220373 317.14753517 -45.14936697 311.02143617 -49.54296875 304.75390625 C-53.66928908 299.78683432 -58.27332505 296.54819547 -64.76171875 295.59375 C-73.3567022 295.31834332 -80.0837557 297.20846608 -85.6953125 304.07421875 Z " fill="#FFDE57" transform="translate(392,130)"/>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Python</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="dark:bg-neutral-800">
                                            <title></title>
                                            <path d="M11.9362.0137a12.1694 12.1694 0 00-2.9748.378C4.2816 1.5547.5678 5.7944.0918 10.6012c-.59 4.5488 1.7079 9.2856 5.6437 11.6345 3.8608 2.4179 9.0926 2.3199 12.8734-.223 3.3969-2.206 5.5118-6.2277 5.3858-10.2845-.058-4.0159-2.31-7.9167-5.7588-9.9796C16.354.5876 14.1431.0047 11.9362.0137zm-.063 1.696c4.9448-.007 9.7886 3.8137 10.2815 8.9245.945 5.6597-3.7528 11.4125-9.4875 11.5795-5.4538.544-10.7245-4.0798-10.8795-9.5566-.407-4.4338 2.5159-8.8346 6.6977-10.2995a9.1126 9.1126 0 013.3878-.647zm5.0908 3.2248c-2.6869 2.0849-5.2598 4.3078-7.8886 6.4567 1.2029.017 2.4118.016 3.6208.01 1.41-2.165 2.8589-4.3008 4.2678-6.4667zm-5.6647 7.6536c-1.41 2.166-2.86 4.3088-4.2699 6.4737 2.693-2.0799 5.2548-4.3198 7.9017-6.4557a255.4132 255.4132 0 00-3.6318-.018z"/>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Socket.io</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg width="24" height="24" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" class="text-black-600 dark:bg-neutral-800">
                                            <g>
                                                <path d="M254.953118,144.253071 C263.911504,74.1217108 214.38443,10.0052669 144.381048,1.04688158 C74.3776647,-7.9115038 10.0052669,41.6155696 1.04688158,111.618952 C-7.9115038,181.622335 41.6155696,245.866756 111.618952,254.953118 C181.750312,263.911504 245.866756,214.38443 254.953118,144.253071 Z" fill="#FF6C37">
                                        
                                        </path>
                                                <g transform="translate(50.181225, 45.198924)">
                                                    <path d="M124.018448,36.9853339 L70.012182,90.9916 L54.7829269,75.7623449 C107.893354,22.6519173 113.140409,27.2590869 124.018448,36.9853339 L124.018448,36.9853339 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M70.012182,92.2713693 C69.6282512,92.2713693 69.3722974,92.1433924 69.1163435,91.8874385 L53.7591114,76.6581834 C53.2472037,76.1462757 53.2472037,75.3784141 53.7591114,74.8665063 C107.765378,20.8602402 113.396363,25.9793176 124.78631,36.2174723 C125.042264,36.4734262 125.170241,36.72938 125.170241,37.1133108 C125.170241,37.4972416 125.042264,37.7531955 124.78631,38.0091494 L70.7800436,91.8874385 C70.6520667,92.1433924 70.2681359,92.2713693 70.012182,92.2713693 Z M56.574604,75.7623449 L70.012182,89.1999229 L122.098794,37.1133108 C112.628501,28.6668332 106.229654,26.1072945 56.574604,75.7623449 L56.574604,75.7623449 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M85.497391,106.476809 L70.7800436,91.7594616 L124.78631,37.7531955 C139.247703,52.342566 117.619601,76.0182987 85.497391,106.476809 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M85.497391,107.756578 C85.1134602,107.756578 84.8575064,107.628601 84.6015525,107.372648 L69.8842051,92.6553001 C69.6282512,92.3993463 69.6282512,92.1433924 69.6282512,91.7594616 C69.6282512,91.3755308 69.7562282,91.1195769 70.012182,90.8636231 L124.018448,36.857357 C124.530356,36.3454492 125.298217,36.3454492 125.810125,36.857357 C129.137525,39.9288034 130.929203,44.2800191 130.801226,48.7592118 C130.545272,62.9646515 114.420178,81.0093992 86.5212065,107.372648 C86.1372757,107.628601 85.7533449,107.756578 85.497391,107.756578 L85.497391,107.756578 Z M72.5717207,91.7594616 C80.7622445,100.077962 84.2176217,103.405363 85.497391,104.685132 C106.997516,84.2088225 127.857756,63.2206053 127.985733,48.7592118 C128.11371,45.4318115 126.833941,42.1044113 124.658333,39.5448726 L72.5717207,91.7594616 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M55.0388808,76.1462757 L65.9169201,87.024315 C66.172874,87.2802689 66.172874,87.5362228 65.9169201,87.7921767 C65.7889432,87.9201536 65.7889432,87.9201536 65.6609663,87.9201536 L43.1370259,92.7832771 C41.9852335,92.911254 40.961418,92.1433924 40.7054642,90.9916 C40.5774872,90.3517153 40.8334411,89.7118307 41.2173719,89.3278999 L54.2710192,76.2742526 C54.526973,76.0182987 54.9109038,75.8903218 55.0388808,76.1462757 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M42.7530951,94.0630464 C40.8334411,94.0630464 39.4256948,92.5273232 39.4256948,90.6076692 C39.4256948,89.7118307 39.8096256,88.8159921 40.4495103,88.1761075 L53.5031576,75.1224602 C54.2710192,74.4825755 55.2948346,74.4825755 56.0626962,75.1224602 L66.9407356,86.0004996 C67.7085972,86.6403842 67.7085972,87.7921767 66.9407356,88.5600383 C66.6847817,88.8159921 66.4288279,88.9439691 66.0448971,89.071946 L43.5209567,93.9350695 C43.2650028,93.9350695 43.009049,94.0630464 42.7530951,94.0630464 L42.7530951,94.0630464 Z M54.65495,77.5540219 L42.1132104,90.0957615 C41.8572566,90.3517153 41.7292796,90.7356461 41.9852335,91.1195769 C42.1132104,91.5035077 42.4971412,91.6314847 42.881072,91.5035077 L63.9972661,86.8963381 L54.65495,77.5540219 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M152.557304,7.03873136 C144.366781,-0.895838537 131.185156,-0.639884669 123.250587,7.67861603 C115.316017,15.9971167 115.57197,29.050764 123.890471,36.9853339 C130.673249,43.5121575 140.911403,44.6639499 148.97395,39.8008264 L134.38458,25.211456 L152.557304,7.03873136 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M138.223888,44.0240653 C126.066079,44.0240653 116.211855,34.1698413 116.211855,22.0120326 C116.211855,9.85422391 126.066079,-1.81866161e-14 138.223888,-1.81866161e-14 C143.854873,-1.81866161e-14 149.357881,2.17560788 153.453143,6.14289283 C153.709097,6.39884669 153.837074,6.65480056 153.837074,7.03873136 C153.837074,7.42266217 153.709097,7.67861603 153.453143,7.9345699 L136.176257,25.211456 L149.741812,38.777011 C150.25372,39.2889187 150.25372,40.0567803 149.741812,40.568688 C149.613835,40.696665 149.613835,40.696665 149.485858,40.8246419 C146.158458,42.8722729 142.191173,44.0240653 138.223888,44.0240653 Z M138.223888,2.68751561 C127.473825,2.68751561 118.771394,11.3899471 118.899371,22.1400096 C118.899371,32.890072 127.601802,41.5925035 138.351865,41.4645266 C141.295334,41.4645266 144.238804,40.8246419 146.926319,39.4168956 L133.488741,26.1072945 C133.232787,25.8513406 133.10481,25.5953868 133.10481,25.211456 C133.10481,24.8275252 133.232787,24.5715713 133.488741,24.3156174 L150.63765,7.1667083 C147.182273,4.22323882 142.831057,2.68751561 138.223888,2.68751561 L138.223888,2.68751561 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M152.941235,7.42266217 L152.685281,7.1667083 L134.38458,25.211456 L148.845973,39.6728495 C150.25372,38.777011 151.661466,37.7531955 152.813258,36.6014031 C161.003782,28.5388563 161.003782,15.485209 152.941235,7.42266217 L152.941235,7.42266217 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M148.97395,41.0805958 C148.590019,41.0805958 148.334066,40.9526188 148.078112,40.696665 L133.488741,26.1072945 C133.232787,25.8513406 133.10481,25.5953868 133.10481,25.211456 C133.10481,24.8275252 133.232787,24.5715713 133.488741,24.3156174 L151.661466,6.14289283 C152.173374,5.63098509 152.941235,5.63098509 153.453143,6.14289283 L153.837074,6.39884669 C162.411528,14.9733013 162.411528,28.7948101 153.965051,37.4972416 C152.685281,38.777011 151.277535,39.9288034 149.741812,40.8246419 C149.357881,40.9526188 149.101927,41.0805958 148.97395,41.0805958 L148.97395,41.0805958 Z M136.176257,25.211456 L149.101927,38.1371263 C150.125743,37.4972416 151.149558,36.6014031 151.91742,35.8335415 C159.212105,28.5388563 159.596036,16.6370014 152.557304,8.95838537 L136.176257,25.211456 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M126.194056,39.2889187 C123.12261,36.2174723 118.131509,36.2174723 115.060063,39.2889187 L66.8127587,87.5362228 L74.8753055,95.5987696 L125.938102,50.8068428 C129.265502,47.9913502 129.521456,43.0002498 126.705964,39.6728495 C126.45001,39.5448726 126.322033,39.4168956 126.194056,39.2889187 L126.194056,39.2889187 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M74.7473286,96.878539 C74.3633978,96.878539 74.1074439,96.750562 73.85149,96.4946082 L65.7889432,88.4320613 C65.2770355,87.9201536 65.2770355,87.152292 65.7889432,86.6403842 L114.036247,38.3930802 C117.619601,34.809726 123.378563,34.809726 126.961918,38.3930802 C130.545272,41.9764343 130.545272,47.7353963 126.961918,51.3187505 C126.833941,51.4467274 126.705964,51.5747044 126.577987,51.7026813 L75.5151902,96.4946082 C75.3872133,96.750562 75.1312594,96.878539 74.7473286,96.878539 L74.7473286,96.878539 Z M68.6044358,87.5362228 L74.8753055,93.8070925 L125.042264,49.7830273 C127.857756,47.4794425 128.11371,43.2562037 125.810125,40.4407111 C123.50654,37.6252186 119.283302,37.3692647 116.467809,39.6728495 C116.339832,39.8008264 116.211855,39.9288034 115.955901,40.0567803 L68.6044358,87.5362228 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M29.8274248,142.438327 C29.3155171,142.694281 29.0595632,143.206189 29.1875401,143.718097 L31.363148,152.932436 C31.8750557,154.212205 31.1071941,155.747929 29.6994479,156.131859 C28.6756324,156.51579 27.52384,156.131859 26.8839553,155.363998 L12.8064926,141.414512 L58.7502118,95.4707927 L74.6193516,95.7267466 L85.3694141,106.476809 C82.8098754,108.652417 67.3246664,123.625718 29.8274248,142.438327 L29.8274248,142.438327 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M28.8036093,157.411629 C27.7797938,157.411629 26.7559784,157.027698 26.1160937,156.259836 L12.1666079,142.31035 C11.910654,142.054397 11.7826771,141.798443 11.7826771,141.414512 C11.7826771,141.030581 11.910654,140.774627 12.1666079,140.518673 L58.1103272,94.5749541 C58.366281,94.3190003 58.7502118,94.1910233 59.0061657,94.1910233 L74.8753055,94.4469772 C75.2592363,94.4469772 75.5151902,94.5749541 75.7711441,94.830908 L86.5212065,105.58097 C86.7771604,105.836924 86.9051373,106.220855 86.9051373,106.604786 C86.9051373,106.988717 86.7771604,107.244671 86.3932296,107.500624 L85.497391,108.268486 C71.931836,120.170341 53.5031576,132.072196 30.5952864,143.462143 L32.7708943,152.548505 C33.1548251,154.212205 32.3869635,156.003882 30.8512403,156.899721 C30.0833787,157.283652 29.443494,157.411629 28.8036093,157.411629 Z M14.7261466,141.414512 L27.9077708,154.468159 C28.2917016,155.108044 29.0595632,155.363998 29.6994479,154.980067 C30.3393325,154.596136 30.5952864,153.828275 30.2113556,153.18839 L28.0357477,143.974051 C27.7797938,142.822258 28.2917016,141.798443 29.3155171,141.286535 C51.9674343,129.896588 70.2681359,118.12271 83.705714,106.476809 L74.2354208,97.0065159 L59.5180734,96.750562 L14.7261466,141.414512 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M1.9284532,152.420528 L12.9344695,141.414512 L29.3155171,157.795559 L3.20822254,156.003882 C2.05643013,155.875905 1.28856853,154.85209 1.41654546,153.700298 C1.41654546,153.18839 1.5445224,152.676482 1.9284532,152.420528 L1.9284532,152.420528 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M29.3155171,158.947352 L3.0802456,157.155675 C1.16059159,157.027698 -0.119177745,155.363998 0.00879918845,153.444344 C0.136776122,152.676482 0.39272999,151.908621 1.03261466,151.396713 L12.038631,140.390696 C12.5505387,139.878789 13.3184003,139.878789 13.830308,140.390696 L30.2113556,156.771744 C30.5952864,157.155675 30.7232633,157.667583 30.4673095,158.17949 C30.2113556,158.691398 29.8274248,158.947352 29.3155171,158.947352 L29.3155171,158.947352 Z M12.9344695,143.206189 L2.82429173,153.316367 C2.44036093,153.572321 2.44036093,154.212205 2.82429173,154.468159 C2.95226867,154.596136 3.0802456,154.724113 3.33619947,154.724113 L25.9881168,156.259836 L12.9344695,143.206189 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M54.2710192,101.357732 C53.5031576,101.357732 52.9912498,100.717847 52.9912498,100.077962 C52.9912498,99.6940315 53.1192268,99.4380776 53.3751806,99.1821238 L65.7889432,86.7683612 C66.3008509,86.2564534 67.0687125,86.2564534 67.5806203,86.7683612 L75.6431671,94.830908 C76.0270979,95.2148388 76.1550749,95.5987696 76.0270979,96.1106774 C75.899121,96.4946082 75.5151902,96.878539 75.0032825,97.0065159 L54.526973,101.357732 C54.3989961,101.357732 54.2710192,101.357732 54.2710192,101.357732 L54.2710192,101.357732 Z M66.6847817,89.4558768 L58.2383041,97.9023544 L72.059813,94.9588849 L66.6847817,89.4558768 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M74.6193516,95.7267466 L60.5418889,98.798193 C59.5180734,99.0541468 58.494258,98.4142622 58.2383041,97.3904467 C58.1103272,96.750562 58.2383041,96.1106774 58.7502118,95.5987696 L66.5568048,87.7921767 L74.6193516,95.7267466 Z" fill="#FFFFFF">
                                        
                                        </path>
                                                    <path d="M60.2859351,100.077962 C58.494258,100.077962 57.0865117,98.670216 57.0865117,96.878539 C57.0865117,95.9827004 57.4704425,95.2148388 57.9823502,94.5749541 L65.7889432,86.7683612 C66.3008509,86.2564534 67.0687125,86.2564534 67.5806203,86.7683612 L75.6431671,94.830908 C76.0270979,95.2148388 76.1550749,95.5987696 76.0270979,96.1106774 C75.899121,96.4946082 75.5151902,96.878539 75.0032825,97.0065159 L60.9258197,100.077962 C60.6698659,100.077962 60.413912,100.077962 60.2859351,100.077962 L60.2859351,100.077962 Z M66.6847817,89.4558768 L59.7740273,96.3666312 C59.5180734,96.6225851 59.5180734,96.878539 59.6460504,97.1344928 C59.7740273,97.3904467 60.0299812,97.5184236 60.413912,97.5184236 L72.1877899,94.9588849 L66.6847817,89.4558768 Z" fill="#FF6C37">
                                        
                                        </path>
                                                    <path d="M153.069212,19.7084478 C152.813258,18.9405862 151.91742,18.5566554 151.149558,18.8126093 C150.381697,19.0685632 149.997766,19.9644017 150.25372,20.7322633 C150.25372,20.8602402 150.381697,20.9882172 150.381697,21.1161941 C151.149558,22.6519173 150.893604,24.5715713 149.869789,25.9793176 C149.357881,26.6192023 149.485858,27.5150408 149.997766,28.0269485 C150.63765,28.5388563 151.533489,28.4108793 152.045397,27.7709947 C153.965051,25.3394329 154.348981,22.2679865 153.069212,19.7084478 L153.069212,19.7084478 Z" fill="#FF6C37">
                                        
                                        </path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Postman</span>
                                    </div>
                                    <div class="flex items-center gap-2 mr-3 rounded-full py-2 px-5 w-max bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-sm border border-neutral-300 dark:border-neutral-700">
                                        <svg width="24" height="24" viewBox="-9 0 274 274" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" class="text-black-600 dark:bg-neutral-800">
                                            <g>
                                                <path d="M191.54779,186.292389 L191.607285,246.81213 L137.903038,273.611369 L137.903038,213.11807 L191.54779,186.292389 Z M256.000818,153.946885 L256.000818,214.678164 L210.196199,237.537504 L210.163146,177.083869 L256.000818,153.946885 Z M191.468463,105.286501 L191.527958,165.171627 L137.903038,191.818823 L137.903038,131.913865 L191.468463,105.286501 Z M256.000818,73.2054191 L256.000818,132.713743 L210.149925,156.022603 L210.110262,96.0184858 L256.000818,73.2054191 Z M129.738988,66.1651652 L177.67221,90.3598405 L127.940914,115.334563 L80.9133402,91.7150067 L129.738988,66.1651652 Z M63.0648093,32.5107686 L108.783491,55.588258 L59.8454631,81.1314889 L12.8906057,57.5515964 L63.0648093,32.5107686 Z M193.755719,32.8611286 L242.997833,57.5515964 L198.958235,79.6705536 L150.925855,55.4428255 L193.755719,32.8611286 Z M128.231779,3.55271368e-15 L172.562241,22.2247263 L130.056295,44.9188028 L84.3772773,21.8809768 L128.231779,3.55271368e-15 Z" fill="#4DABCF">
                                        
                                        </path>
                                                <path d="M118.943932,131.913865 L82.7709095,113.728195 L82.7709095,192.334447 C82.7709095,192.334447 38.5329951,98.2065835 34.4344436,89.7516683 C33.9055982,88.6609247 31.7307216,87.4644121 31.175434,87.1735472 C23.2427536,83.0088899 0,71.2354701 0,71.2354701 L0,210.110262 L32.1537979,227.297736 L32.1537979,154.7071 C32.1537979,154.7071 75.9223621,238.813344 76.3652701,239.732213 C76.8081781,240.651081 81.2042052,249.515852 85.8977077,252.629429 C92.1513041,256.767644 118.950543,272.884206 118.950543,272.884206 L118.943932,131.913865 Z" fill="#4D77CF">
                                        
                                        </path>
                                            </g>
                                        </svg>
                                        <span class="dark:bg-neutral-800">Numpy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="border-t dark:border-neutral-700 border-gray-300 my-4 my-8" data-testid="breakline"></div> 
                    <section class="space-y-6">
                        <div class="space-y-2">
                            <div class="flex items-center gap-1.5 text-xl font-medium text-neutral-800 dark:text-neutral-300 ">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                </svg>
                                <h2 class="capitalize">Career</h2>
                            </div>
                            <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2 text-neutral-600 dark:text-neutral-400">
                                <p class="dark:text-neutral-400">My Professional Career</p>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 gap-4">
                            <div class="dark:bg-neutral-800 rounded-xl transition-all duration-300 shadow-sm flex items-center gap-5 py-4 px-6 border border-neutral-300 dark:border-neutral-900  css-nkx4uq">
                                <div class="overflow-hidden">
                                    <img alt="Meta Craftlab" loading="lazy" width="55" height="55" decoding="async" data-nimg="1" class="duration-700 ease-in-out scale-100 blur-0 grayscale-0 dark:bg-neutral-800" style="color:transparent" srcset="https://media.licdn.com/dms/image/D4D0BAQHx5oB2XiQATA/company-logo_200_200/0/1716798567080/craftlabai_logo?e=1725494400&v=beta&t=p_3abPWAO6Ijzqdv395nBJIHi93SfKfRGW19hxN3dCY 1x, https://media.licdn.com/dms/image/D4D0BAQHx5oB2XiQATA/company-logo_200_200/0/1716798567080/craftlabai_logo?e=1725494400&v=beta&t=p_3abPWAO6Ijzqdv395nBJIHi93SfKfRGW19hxN3dCY 2x" src="https://media.licdn.com/dms/image/D4D0BAQHx5oB2XiQATA/company-logo_200_200/0/1716798567080/craftlabai_logo?e=1725494400&v=beta&t=p_3abPWAO6Ijzqdv395nBJIHi93SfKfRGW19hxN3dCY">
                                </div>
                                <div class="space-y-1 dark:bg-neutral-800 text-white">
                                    <h6 class="dark:bg-neutral-800 text-white">Web Development Intern</h6>
                                    <div class="text-sm text-neutral-600 dark:text-neutral-400 space-y-2 dark:bg-neutral-800 text-white">
                                        <div class="flex items-center gap-1 md:gap-2 dark:bg-neutral-800 text-white ">
                                            <a href="https://craftlab.ai/" target="_blank" data-umami-event="Click Career Company Name: Meta craftlab" class="dark:bg-neutral-800 text-white">
                                                <span class="underline cursor-pointer hover:text-dark hover:dark:text-white dark:bg-neutral-800 text-white">Meta Craftlab</span>
                                            </a>
                                            <span class="text-neutral-300 dark:text-neutral-700 dark:bg-neutral-800 text-white">•</span>
                                            <span class="dark:bg-neutral-800 text-white">Virtual,Pune</span>
                                        </div>
                                        <div class="flex flex-col md:text-[13px] dark:bg-neutral-800 text-white">
                                            <div class="flex gap-1 dark:bg-neutral-800 text-white">
                                                <span class="dark:bg-neutral-800 text-white">June 2024</span>
                                                 -
                                                <!-- -->
                                                <span class="dark:bg-neutral-800 text-white">July 2024</span>
                                            </div>
                                            <span class="text-neutral-500 dark:text-neutral-500 dark:bg-neutral-800 text-white">
                                                ~ 
                                                <!-- -->
                                                1 Months
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <div class="border-t dark:border-neutral-700 border-gray-300 my-4 my-8" data-testid="breakline"></div> 
                    <section class="space-y-6">
                        <div class="space-y-2">
                            <div class="flex items-center gap-1.5 text-xl font-medium text-neutral-800 dark:text-neutral-300 ">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="mr-1" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg>
                                <h2 class="capitalize">Education</h2>
                            </div>
                            <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2 text-neutral-600 dark:text-neutral-400">
                                <p class="dark:text-neutral-400">My education Journey</p>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-1 gap-4 ">
                            <div class="dark:bg-neutral-800 rounded-xl transition-all duration-300 shadow-sm flex items-center gap-5 py-4 px-6 border border-neutral-300 dark:border-neutral-900  css-nkx4uq">
                                <div class="overflow-hidden dark:bg-neutral-800">
                                    <img alt="Symbiosis International University" loading="lazy" width="55" height="55" decoding="async" data-nimg="1" class="duration-700 ease-in-out scale-100 blur-0 grayscale-0" style="color:transparent" srcset="https://media.licdn.com/dms/image/C560BAQGYXzWn4mmtmQ/company-logo_200_200/0/1631358223044?e=1725494400&v=beta&t=uQqaK04J4yccNAI2abVy07DfsraBKBx17yfDnTdLDLE 1x, https://media.licdn.com/dms/image/C560BAQGYXzWn4mmtmQ/company-logo_200_200/0/1631358223044?e=1725494400&v=beta&t=uQqaK04J4yccNAI2abVy07DfsraBKBx17yfDnTdLDLE 2x" src="https://media.licdn.com/dms/image/C560BAQGYXzWn4mmtmQ/company-logo_200_200/0/1631358223044?e=1725494400&v=beta&t=uQqaK04J4yccNAI2abVy07DfsraBKBx17yfDnTdLDLE">
                                </div>
                                <div class="space-y-1 dark:bg-neutral-800 text-white">
                                    <a href="https://www.siu.edu.in/" target="_blank" data-umami-event="Click Education School: Symbiosis International University">
                                        <h6 class=" dark:bg-neutral-800 text-white">Symbiosis Institute of Technology</h6>
                                    </a>
                                    <div class="text-sm text-neutral-600 dark:text-neutral-400 space-y-2  dark:bg-neutral-800 text-white">
                                        <div class="flex flex-col md:flex-row gap-1 md:gap-2  dark:bg-neutral-800 ">
                                            <span class=" dark:bg-neutral-800 ">Bachelor's of Technology</span>
                                            <span class="hidden md:flex text-neutral-300 dark:text-neutral-700  dark:bg-neutral-800 text-white">•</span>
                                            <span class=" dark:bg-neutral-800">Computer Science and Engineer</span>
                                        </div>
                                        <div class="flex flex-col md:text-[13px]">
                                            <div class="flex gap-1  dark:bg-neutral-800">
                                                <span class=" dark:bg-neutral-800">2022</span>
                                                -
                                                <span class=" dark:bg-neutral-800">2026</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dark:bg-neutral-800 rounded-xl transition-all duration-300 shadow-sm flex items-center gap-5 py-4 px-6 border border-neutral-300 dark:border-neutral-900  css-nkx4uq">
                                <div class="overflow-hidden">
                                    <img alt="Arihant Public School" loading="lazy" width="55" height="55" decoding="async" data-nimg="1" class="duration-700 ease-in-out scale-100 blur-0 grayscale-0" style="color:transparent" srcset="https://cache.careers360.mobi/media/colleges/social-media/logo/Logo_of_Arihant_College_of_Arts_Commerce_and_Science_Camp_Pune_Logo.png 1x, https://cache.careers360.mobi/media/colleges/social-media/logo/Logo_of_Arihant_College_of_Arts_Commerce_and_Science_Camp_Pune_Logo.png 2x" src="https://cache.careers360.mobi/media/colleges/social-media/logo/Logo_of_Arihant_College_of_Arts_Commerce_and_Science_Camp_Pune_Logo.png">
                                </div>
                                <div class="space-y-1 dark:bg-neutral-800 text-white">
                                    <a href="https://arihanteducollege.ac.in/" target="_blank" data-umami-event="Click Education School: Arihant Collage">
                                        <h6 class=" dark:bg-neutral-800 text-white">Arihant College of Arts, Commerce and Science</h6>
                                    </a>
                                    <div class="text-sm text-neutral-600 dark:text-neutral-400 space-y-2  dark:bg-neutral-800 ">
                                        <div class="flex flex-col md:flex-row gap-1 md:gap-2  dark:bg-neutral-800 ">
                                            <span class=" dark:bg-neutral-800 ">Intermediate</span>
                                            <span class="hidden md:flex text-neutral-300 dark:text-neutral-700 dark:bg-neutral-800 text-white">•</span>
                                            <span class=" dark:bg-neutral-800 ">HSC</span>
                                        </div>
                                        <div class="flex flex-col md:text-[13px]  dark:bg-neutral-800">
                                            <div class="flex gap-1 dark:bg-neutral-800 ">
                                                <span class=" dark:bg-neutral-800 ">2020</span>
                                                -
                                                <span class=" dark:bg-neutral-800">2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuButton = document.getElementById('menuButton');
            const menuDiv = document.getElementById('menuDiv');
    
            menuButton.addEventListener('click', function() {
                menuDiv.classList.toggle('hidden');
            });
        });
    </script>   
</body>
</html>
